
@import "./vars.scss";
@import "./base.scss";
@import '../../node_modules/scss-reset/reset';


.red {
    background: tomato;
}


/************* Body *********************
*****************************************/

html,
body {
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

ol,
ul,
li {
    margin: 0;
}


/************* Main Style ******************
*****************************************/

.MainContainer {
    @extend %flex-column-between;
    @extend %relative-to-toning;
    background-size: cover;
    background: url("../image/png/background.png") no-repeat center center;
    height: 100vh;
    padding: 30px 40px 50px;
}

.MainToning {
    @extend %absulute-toning;
    background: $basic-toner-color;
    height: 100vh;
}

.MainHeader {
    @extend %flex-row-between;
}

.MainFooter {
    @extend %flex-row-start;
}

.Logo {
    @extend %flex-row-between;
    align-items: center;
    margin: 0 5px;
}

.iconLogo {
    stroke: $basic-red-color;
}

.textLogo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}

.buttonWrap {
    @extend %flex-row-between;
    align-items: center;
}

.buttonMain {
    @extend %flex-row-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #8B8B8B;
    border-radius: 6px;
    width: auto;
    margin: 0 10px;
    user-select: none;
}

.buttonMainClick {
    @extend %flex-row-between;
    align-items: center;
    padding: 7px 12px;
    border: 1px solid #8B8B8B;
    border-radius: 6px;
    width: auto;
    margin: 3px 13px;
    user-select: none;
}

.buttonTitle {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    margin: 0 5px;
}

.buttonIcon {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin: 0 5px;
}

.buttonMain:hover {
    background: rgba(217,217,217, .15);
    cursor: pointer;
}

.containerForm {
    @extend %absulute-toning;
    height: 100vh;
    background: $basic-toner-color-popup;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: .4s;
}

.form {
    width: 500px;
    height: 350px;
    padding: 25px;
    background-color: white;
}

.formHeader {
    display: flex;
    justify-content: flex-end;
}

.formButtonClose {
    cursor: pointer;
}











// .iconMenu {
//     width: 22px;
//     height: 22px;
//     fill: #fff;
//     transition: 0.4s;
//     margin-right: 40px;
// }

// .iconMenu:last-child {
//     margin-right: 0;
//     width: 24px;
//     height: 24px;
// }

// .iconMenu:hover{
//     cursor: pointer;
//     fill: $tomato-color;
// }





